<h1>Flickr User Id Photo Search</h1>

<%= form_tag flickr_home_path, :method => 'get' do %>
  	<%= label_tag(:user_id, "User Id:") %>
	<%= text_field_tag(:user_id, params[:user_id]) %>
	<%= submit_tag ("Submit") %>
<% end %>

<% if params[:user_id] %>
  <% user_photos(params[:user_id]).each do |photo|  %>
    <%= link_to(image_tag(FlickRaw.url_q(photo), :class => 'flickr-photo-widget', :title => photo.title, :border => 0), FlickRaw.url_photopage(photo)) %>
  <% end %>
<% end %>